<ion-header>

  <ion-navbar>
    <ion-title>Temas de {{ godfather.first_name }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-item *ngIf="threads[0]?.length === 0">
    <h2>No hay temas con éste padrino aún.</h2>
  </ion-item>
  <ion-list *ngIf="threads[0]?.length > 0">

    <ion-item-sliding *ngFor="let thread of threads[0]">

      <ion-item [navPush]="godfatherTopicDetailPage" [navParams]="{ 'thread': thread, 'godfather': godfather }">
        <h2>{{ thread.subject }}</h2>
        <p *ngFor="let message of thread.messages">{{ message.body | truncate: 30 : "..." | lastElement:true }}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary">
          <ion-icon name="trash"></ion-icon>Eliminar
        </button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>
</ion-content>
